<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Document</title>

    <script src="js/index.js"></script>

</head>

<body>
    <center>
        <form action="/addTask" method="get">
            <div class="col-12">
                <button type="submit" class="btn btn-warning">Add tasks</button>
            </div>
        </form>
    </center>

    <table class="table mb-4">
        <thead>
            <tr>
                <th scope="col">Obbiettivo</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Rilevanza</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i=0; i < length; i++) { %>
                <% titolo=tasks[i].Titolo.replace(/ /g, '_') %>
                    
                        <tr id=<%= titolo %>>
                            <th scope="row">
                                <% titolo=tasks[i].Titolo.replace(/\_/g, ' ') %>
                                <%= titolo %>
                            </th>
                            <td>
                                <%=tasks[i].Descrizione%>
                            </td>
                            <td>
                                <%=tasks[i].Rilevanza%>
                            </td>
                            <td>
                                <% titolo=tasks[i].Titolo.replace(/ /g, '_') %>
                                <button onclick="rimuovi('<%-titolo%>')" class="btn btn-danger">Rimuovi</button>
                            </td>
                        </tr>
                    
            <% } %>
        </tbody>
    </table>
    <!-- <% for (var i = 0; i < length; i++) { %>
            <% titolo = tasks[i].Titolo %>
            <div class="card" id= <%=titolo%> >
                <h3>Obbiettivo: <br> <%= titolo %> </h3>
                <h5>Rilevanza: <br> <%=tasks[i].Rilevanza%> </h5>
                <h4>Descrizione: <br> <%=tasks[i].Descrizione%> </h4> 
                <button onclick="rimuovi('<%-titolo%>')">rimuovi</button>     
            </div>
        <% } %> -->
</body>

</html>
